<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--Spring配置文件-->
    <bean id="SomeServiceImpl" class="com.huangjiabin.service.impl.SomeServiceImpl"  />
    <!--
    <bean />：用于定义一个实例对象。一个实例对应一个 bean 元素。有多少个bean就会创建多少个对象，从容器创建开始时创建对象
    id：该属性是 Bean 实例的唯一标识，程序通过 id 属性访问 Bean，Bean 与 Bean 间的依赖关系也是通过 id 属性关联的。
    class：指定该 Bean 所属的类，注意这里只能是类，不能是接口。因为是通过反射创建的
    -->
    <bean id="SomeServiceImpl1" class="com.huangjiabin.service.impl.SomeServiceImpl"  />
    <bean id="Date" class="java.util.Date"  />
</beans>